# Hypothesis Testing

Relationship between variables based on their types

In [5]:
import warnings
warnings.filterwarnings('ignore')

## Numerical & Categorical

Numerical differences on groups of 1 categorical variable.

For example, which city (categorical) earns more money (numerical) per person?

In [6]:
import pandas as pd

df_salaries2 = pd.read_csv('salaries2.csv')
df_salaries2

         city  yearly_salary_k
0      Madrid               26
1      Madrid               24
2      Madrid               26
3      Madrid               29
4      Madrid               24
5      Madrid               24
6      Madrid               29
7      Madrid               27
8      Madrid               23
9      Madrid               26
10     Madrid               23
11     Madrid               23
12     Madrid               25
13     Madrid               19
14     Madrid               19
15     Madrid               23
16     Madrid               21
17     Madrid               25
18     Madrid               22
19     Madrid               20
20  Barcelona               31
21  Barcelona               22
22  Barcelona               24
23  Barcelona               16
24  Barcelona               21
25  Barcelona               24
26  Barcelona               18
27  Barcelona               25
28  Barcelona               20
29  Barcelona               22
30  Barcelona               20
31  Barcelona               33
32  Barcelona               23
33  Barcelona               18
34  Barcelona               28
35  Barcelona               17
36  Barcelona               25
37  Barcelona               14
38  Barcelona               17
39  Barcelona               24

### T-test: 1 Categorical with 2 Groups

#### Summarise the data
- Calculate the mean by city

In [7]:
df_salaries2.groupby('city').mean()

           yearly_salary_k
city
Barcelona             22.1
Madrid                23.9

#### Visualize the data

In [8]:
import plotly.express as px

In [9]:
px.box(data_frame=df_salaries2, x='city', y='yearly_salary_k', color='city')

#### Validate your hypothesis statistcally

You need to use `pingouin` library find functions about hypothesis testing

```python
import pinguoin as pg
```

    If the module/library `pingouin` is not installed, you can install it by running the following command in a new cell:

```bash
pip install pingouin
```

In [10]:
import pingouin as pg

In [11]:
pg.ttest(x=salary_madrid, y=salary_barcleona, confidence=0.95)

NameError: name 'salary_madrid' is not defined

In [ ]:
salary_madrid

0     26
1     24
      ..
18    22
19    20
Name: yearly_salary_k, Length: 20, dtype: int64

In [ ]:
df_salaries2

         city  yearly_salary_k
0      Madrid               26
1      Madrid               24
..        ...              ...
38  Barcelona               17
39  Barcelona               24

[40 rows x 2 columns]

In [ ]:
df_salaries2.query('city == "Madrid"')

      city  yearly_salary_k
0   Madrid               26
1   Madrid               24
..     ...              ...
18  Madrid               22
19  Madrid               20

[20 rows x 2 columns]

In [ ]:
df_salaries2.query('city == "Barcelona"')

         city  yearly_salary_k
20  Barcelona               31
21  Barcelona               22
..        ...              ...
38  Barcelona               17
39  Barcelona               24

[20 rows x 2 columns]

In [ ]:
df_salaries2

         city  yearly_salary_k
0      Madrid               26
1      Madrid               24
..        ...              ...
38  Barcelona               17
39  Barcelona               24

[40 rows x 2 columns]

In [ ]:
df_salaries2.query('yearly_salary_k < 25')

         city  yearly_salary_k
1      Madrid               24
4      Madrid               24
..        ...              ...
38  Barcelona               17
39  Barcelona               24

[27 rows x 2 columns]

In [ ]:
df_salaries2.query('yearly_salary_k > 30')

         city  yearly_salary_k
20  Barcelona               31
31  Barcelona               33

In [ ]:
df_salaries2

         city  yearly_salary_k
0      Madrid               26
1      Madrid               24
..        ...              ...
38  Barcelona               17
39  Barcelona               24

[40 rows x 2 columns]

In [ ]:
df_salaries2.query('city == "Madrid"')

      city  yearly_salary_k
0   Madrid               26
1   Madrid               24
..     ...              ...
18  Madrid               22
19  Madrid               20

[20 rows x 2 columns]

In [ ]:
df_salaries2.query('city == "Madrid"').yearly_salary_k

0     26
1     24
      ..
18    22
19    20
Name: yearly_salary_k, Length: 20, dtype: int64

In [ ]:
salary_madrid = df_salaries2.query('city == "Madrid"').yearly_salary_k
salary_barcleona = df_salaries2.query('city == "Barcelona"').yearly_salary_k

In [ ]:
pg.ttest(x=salary_madrid, y=salary_barcleona, confidence=0.95)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,1.414214,38,two-sided,0.165441,"[-0.78, 4.38]",0.447214,0.678,0.280909

In [ ]:
pg.ttest(x=salary_madrid, y=salary_barcleona, confidence=0.99)

,T,dof,alternative,p-val,CI99%,cohen-d,BF10,power
T-test,1.414214,38,two-sided,0.165441,"[-1.6512493822031895, 5.251249382203184]",0.447214,0.678,0.280909

In [ ]:
pg.ttest(x=salary_madrid, y=salary_barcleona, confidence=0.90)

,T,dof,alternative,p-val,CI90%,cohen-d,BF10,power
T-test,1.414214,38,two-sided,0.165441,"[-0.34586969358893466, 3.9458696935889295]",0.447214,0.678,0.280909

### ANOVA: 1 Categorical with > 2 Groups

Now we go off to Bilbao and gather more data about people's salary:

In [ ]:
df_salaries3 = pd.read_csv('salaries3.csv')
df_salaries3

#### Summarise the data

- Calculate mean and variance by city

#### Visualize the distribution with a boxplot

#### Validate your hypothesis statistically

## Chi2: Categorical & Categorical

In [ ]:
import seaborn as sns

df_titanic = sns.load_dataset('titanic')[['class', 'alive']]
df_titanic

### Summarise the data

### Visualize the data

### Validate your hypothesis statistically

## Pearson's Correlation: Numerical & Numerical

### Summarise the data

### Visualize the data

### Validate your hypothesis statistically