## Enunciado

Basándote en este artículo, desarrolla un código que cargue una tabla de datos con columna de tiempo (frecuencia mensual como máximo) y genere un reporte coloreado en el fondo para las siguientes frecuencias:

1. Trimestral
2. Cada 6 meses
3. Anual

https://blog.resolvingpython.com/05-datetime-objects-potential-within-pandas-a-python-library

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/jsulopzs/data/main/tsla_stock.csv'
df = pd.read_csv(url, index_col=0, parse_dates=['Date'])
df = df.resample('BM').mean()
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-31,48.269900,47.041400,47.587200,47.864100,2.516990e+07,47.864100
2017-02-28,53.384632,51.983579,52.566632,52.742211,3.145789e+07,52.742211
2017-03-31,52.229652,51.030956,51.551652,51.631304,2.326854e+07,51.631304
2017-04-28,61.582000,60.064316,60.739579,60.951684,3.077647e+07,60.951684
2017-05-31,64.091818,62.299546,63.157545,63.304818,3.364689e+07,63.304818
...,...,...,...,...,...,...
2022-02-28,903.860525,854.696318,878.368421,878.884737,2.440573e+07,878.884737
2022-03-31,933.997821,889.799131,909.759996,914.379554,2.506193e+07,914.379554
2022-04-29,1032.105991,977.922498,1011.162500,997.387500,2.534933e+07,997.387500
2022-05-31,793.242853,738.228577,770.956668,765.670000,3.092415e+07,765.670000
2022-06-30,726.972215,686.982035,704.071659,704.506666,3.179894e+07,704.506666

### Ejercicios

In [2]:
df['Year'] = df.index.year
df['Month'] = df.index.month
df["Quarter"] = df.index.quarter

In [3]:
df_stl = df.pivot_table(
    index="Year",
    columns="Month",
    values="Close",
    aggfunc="mean",
    fill_value=0).style.format('{:.2f}').background_gradient(cmap="Greens", axis=1)

df_stl

1. Trimestral

In [4]:
df_stl = df.pivot_table(
    index="Year",
    columns="Quarter",
    values="Close",
    aggfunc="mean",
    fill_value=0).style.format('{:.2f}').background_gradient(cmap="Greens", axis=1)

df_stl

2. Cada 6 meses

In [5]:
df = pd.read_csv(url, index_col=0, parse_dates=['Date'])
df = df.resample("6BM").mean()
df['Year'] = df.index.year
df["Month"] = df.index.month

In [6]:
df_stl = df.pivot_table(
    index="Year",
    columns="Month",
    values="Close",
    aggfunc="mean",
    fill_value=0).style.format('{:.2f}').background_gradient(cmap="Greens", axis=1)

df_stl

3. Anual

In [7]:
df = pd.read_csv(url, index_col=0, parse_dates=['Date'])
df = df.resample("BY").mean()
df['Year'] = df.index.year
df["Month"] = df.index.month

In [8]:
df_stl = df.pivot_table(
    index="Year",
    columns="Month",
    values="Close",
    aggfunc="mean",
    fill_value=0).style.format('{:.2f}').background_gradient(cmap="Greens", axis=1)

df_stl